.sidenav-container {
  background-color: pink;
  width: 100%;
  height: 100%;
  border: 1px solid #555;
}

/*left sidenav style override*/
mat-sidenav:not(.mat-drawer-opened) {
  // overflow: hidden;
  transform: translate(0, 0);
  visibility: visible !important;
  width: 60px !important;
  transition: 0.4s;

  .navitaion-row {
    width: 100%;

    // span {
    //   display: none !important;
    // }
  }
}

mat-sidenav:not(.mat-drawer-opened) ~ mat-sidenav-content.sidenav-content {
  transition: 0.4s;
  padding-left: 60px;
}

.navigaion-row {
  &:hover {
    background-color: #eee;
  }
}
