<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    mode="side"
    [opened]="sidenavState$ | async"
    [@navigaionAnimation]="animationState"
  >
    <div class="navigaion-row">
      <span>navTitle1</span>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >home</mat-icon
      >
    </div>
    <div class="navitaion-row">
      <span>Home</span>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >home</mat-icon
      >
    </div>
    <div class="navitaion-row">
      <span>navitaonnnn</span>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >home</mat-icon
      >
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <h1>lorem text</h1>
    <button mat-button (click)="toggleSidenav()">
      {{ "toggle" | uppercase }}
    </button>
    <button mat-button (click)="animateSidenav()">
      {{ "animate" | uppercase }}
    </button>
    {{ sidenavState$.isOpen | async }}

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eius atque
      nam voluptatum, consequuntur sequi aliquid deserunt saepe repellat ab
      accusamus natus expedita minus facere autem enim corporis iusto hic. Sed,
      reiciendis quod voluptates quaerat quia dicta soluta libero itaque cum
      laudantium iure error dolore optio magnam consequuntur nam alias deserunt
      debitis corrupti praesentium amet veniam? Minima autem ea necessitatibus!
      Iure nobis est laborum exercitationem voluptates ad explicabo quo
      excepturi impedit vitae molestias culpa, ipsam ex! A repellendus, dolore
      reiciendis eum corporis minus explicabo consequuntur. Eaque molestias ab
      quisquam doloremque. Quidem doloribus commodi quod unde sequi ad est
      itaque expedita, in corporis ullam exercitationem, sint nam tempora minima
      illo dolorum excepturi temporibus esse accusantium porro ab suscipit a
      consequuntur. Quisquam? Enim, totam eum debitis, officia corrupti, eveniet
      quisquam esse veniam alias assumenda maiores ducimus sunt aliquam
      recusandae libero? Corrupti nesciunt pariatur totam nulla! Atque
      consectetur at cumque incidunt. Voluptatibus, consequuntur. Commodi est
      deleniti, sed aspernatur maiores impedit nihil quae, repellat vel illum
      voluptatibus cumque, corrupti ab molestias id odit in debitis officia.
      Maxime doloremque similique fuga? Repellendus, tempora. Itaque, dolorem!
      Dolorem voluptatem minima tempore enim possimus! Provident impedit
      deleniti tempore. Illo adipisci, nesciunt aliquam voluptate harum id
      temporibus corporis dignissimos, voluptas assumenda vel sequi deleniti
      aspernatur voluptatum facere ex saepe? Id animi adipisci atque dolore,
      aperiam veritatis? Omnis odit libero impedit placeat quae, praesentium
      minima eos distinctio architecto laudantium cupiditate officiis expedita
      dolores saepe molestias provident commodi tenetur, reiciendis voluptate?
      Quisquam laudantium molestias quod voluptatum commodi maxime adipisci
      modi, laboriosam necessitatibus, distinctio temporibus ab recusandae sit
      nihil voluptatibus! Commodi a in nihil voluptate non quod qui laborum, ut
      perferendis quo. Quos consequatur nobis ab repellat ea. Velit tempore
      numquam esse ipsa, nemo, fugit alias delectus commodi, officia
      voluptatibus similique laboriosam praesentium. Perferendis ducimus debitis
      ab nostrum. Quae architecto enim itaque. Exercitationem enim error veniam
      quae magnam, sequi architecto quam perspiciatis non maxime quis placeat
      repudiandae ex? Odit iusto laudantium, placeat fugiat aspernatur dicta
      tempora consequatur nulla, magnam harum rerum velit? Illo eligendi non
      natus consequuntur quisquam odit unde, eius nihil doloribus eaque modi
      aliquam magni. Quidem inventore sint voluptatem accusamus? Repellendus
      maiores ea ex quas ipsa delectus neque, iste necessitatibus! Id,
      voluptatibus odio. Quasi impedit pariatur eius eligendi numquam quis
      laudantium rerum ipsa velit animi dolores, error corporis est temporibus
      minus, fugiat dolorem nobis earum quos? Cum eum aut facilis. Dignissimos
      velit blanditiis repudiandae tempore cumque labore in nobis autem
      reiciendis impedit dolorum soluta, qui expedita fugit unde doloribus
      perferendis aliquam aliquid esse ad delectus dicta vitae! Non,
      necessitatibus commodi. Voluptatum, vitae veniam sunt a exercitationem
      error, officia ex ipsum praesentium cum tempora cupiditate, omnis et
      corrupti aspernatur tempore labore culpa earum. Beatae, illo ullam
      voluptas sunt vel perferendis expedita! Numquam error voluptatum qui
      laboriosam in? Illum blanditiis cupiditate rerum incidunt non quos magni
      delectus eum recusandae commodi, fuga consequatur debitis eaque expedita
      culpa laborum alias libero repellendus vel nisi. Nostrum nesciunt odit
      minima sit, repellendus est iure architecto modi delectus id, commodi quae
      maxime tempora incidunt voluptatum non aperiam veniam, blanditiis at
      distinctio et facilis! Sequi doloribus deserunt debitis? Voluptates quasi
      quam, laboriosam cupiditate ducimus modi vero dolorum nesciunt magni.
      Atque accusantium, ex earum reiciendis voluptas ea natus ducimus quas
      recusandae deleniti cupiditate quo sit, vero tenetur obcaecati quisquam!
      Blanditiis, perspiciatis. Nostrum minima quisquam veniam error harum
      pariatur, optio ratione quas deserunt est impedit veritatis dolore esse
      itaque quibusdam molestias necessitatibus voluptates? Suscipit officia
      expedita commodi est ipsam impedit! Sint doloribus molestiae veritatis
      nisi laboriosam dolorum enim iste ipsum magnam hic sapiente cumque
      repellat, ratione repudiandae quod temporibus praesentium necessitatibus
      exercitationem culpa dicta! Qui impedit aut, sint consequatur possimus sed
      reiciendis, veritatis voluptatum iusto recusandae culpa quis nemo
      laudantium sunt voluptatem hic accusamus dolorum incidunt atque quia iure
      rerum, eos omnis. Repellendus, dolores. Obcaecati unde molestias quibusdam
      molestiae laboriosam a eum voluptas soluta sunt fugit consequatur at fuga
      aspernatur consectetur, facere laudantium architecto maxime quia provident
      exercitationem eligendi totam assumenda! Delectus, deserunt atque. Harum
      magni ullam dolorem fugit dolore porro eius voluptate totam quam
      asperiores facilis, cupiditate officiis incidunt saepe quo, distinctio
      consectetur quod repudiandae, quas labore corporis unde. Adipisci nobis
      totam accusantium? Sed reiciendis quidem nobis aliquid asperiores voluptas
      facilis, cum similique molestiae quis error hic quaerat tempora voluptatum
      voluptate? Nulla cumque adipisci quidem praesentium esse exercitationem
      quos illo eaque libero earum! Porro dolorem omnis, pariatur saepe harum
      mollitia magni quod numquam voluptas nostrum atque recusandae repellendus
      inventore, voluptate corrupti nulla sit eligendi, laboriosam cum? Vitae,
      magni? Voluptate tenetur nemo facere aspernatur! Unde dicta a ex,
      voluptatum nihil voluptates natus earum voluptate et corporis! Aspernatur
      autem, eligendi in impedit a commodi perferendis, fuga ipsa asperiores
      nisi laboriosam ex dicta nulla! Rerum, exercitationem? Laudantium
      doloribus obcaecati a ducimus officiis est at corrupti voluptates
      repellendus assumenda nemo deleniti accusantium ab vitae ea distinctio qui
      totam iure, porro officia eos consequatur molestiae ipsam natus.
      Veritatis! Cumque quisquam laboriosam reiciendis corrupti veniam saepe
      cupiditate voluptatum? Dignissimos blanditiis facere, vero fugit obcaecati
      ullam dolorem voluptas voluptate sapiente provident, asperiores numquam
      neque vel consequuntur error quo, laboriosam ipsum! Iure amet repellendus
      velit corporis earum nihil distinctio accusamus? Enim iusto eveniet earum
      sapiente recusandae assumenda! Tempora deserunt, distinctio quo
      accusantium esse, ex eius libero perferendis, omnis ipsa sint laudantium!
      Suscipit neque ullam doloribus atque explicabo quod odit inventore.
      Aliquid sapiente saepe eligendi maiores doloremque tenetur atque illum
      neque ratione culpa autem asperiores ducimus, quidem repellat, sunt
      exercitationem odio nulla. Nihil deleniti quis inventore! Cumque ipsa ea
      architecto dolor delectus culpa commodi est temporibus unde maxime? Soluta
      rem similique nemo. Illo excepturi tempora officiis, soluta sint voluptas
      cupiditate nam aliquam? Veniam non impedit vel corrupti praesentium autem
      quos ex natus ratione nam vero maiores animi error modi quam tempora
      accusamus minus, repellendus voluptates quia? Fuga ex ipsa sint nisi hic!
      Iusto magni ipsum facere, illo fugiat nulla nihil. Sint perspiciatis,
      voluptatum unde ex quidem quia ad ipsum veritatis vitae quas labore saepe
      similique temporibus explicabo alias voluptatem pariatur vel! Nisi! Labore
      nihil aperiam adipisci distinctio dolorum et at ad quas quisquam, dolor
      impedit ipsa amet ex fugit, quos commodi consequatur quo! Praesentium quod
      ut explicabo placeat cum eaque nam itaque. Molestias sit asperiores ad
      sequi vel sapiente illum dolor velit reprehenderit maxime ex sint,
      quibusdam odit blanditiis similique alias ullam nihil, fugiat vitae
      molestiae accusamus. Illum deleniti quod neque voluptas? Error quas ipsa
      mollitia recusandae ipsam nam itaque unde est animi laborum ipsum suscipit
      sed fugiat, repudiandae rem delectus maxime nulla! Quia omnis vel, alias
      expedita minima praesentium repellendus quisquam.
      <app-project-form></app-project-form>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>
